.dialogs{
    display:grid;
    grid-template-columns: 2fr 10fr;
    
    
}


.dialogsItems{
    padding:10px;
    
}

.dialog{
    padding:10px;
    color:rgb(0, 147, 255);
    
}
.dialog img{
    height:24px;
    width:24px;
    border-radius:50px;
    
}
.dialog.active{
    color:gold;
}

.messages{
    padding:10px;
    
}

.message{
    padding:15px;
    color:white;
    
}
.area{
    display:block;
    position:relative;
    height:200px;
}
.b{
    position:absolute;
    left:125px;
    top:45px;
    
}
